<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style='color: red'>grande e vermelho</h1>
    <hr>
    <p>Texto estático </p>
    <p>Nome: <%=nome%></p>
    <p>Curso: <%=curso%></p>
    <img src='https://cdn.iconscout.com/icon/free/png-256/node-js-3-1174937.png' />
    <img src='www.ubisoft.com%2Fpt-br%2Fgame%2Fwatch-dogs&psig=AOvVaw1NioWafYmBlm495Q0gsO2m&ust=1593222895898000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjpo4OwnuoCFQAAAAAdAAAAABAJ' />

</body>
</html>