<form action="/pedido1" method="POST">
    <label for="registroPedido">Insira seu pedido:</label>
    <input type="text" id="registroPedido" name="formPedido"><br><br>
    <input type="submit" value="Submit">
</form>